*,
*::before,
*::after{
	margin: 0;
	padding:0;
	box-sizing:border-box;

}

html {
	

	font-family: "Roboto", sans-serif;
	font-size: 10px;

}

img {
	
	width: 100%;
}

p{

	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
	color:#333;
	/*padding-top: :10.2rem;*/
	20px 5px 0 5px;
}

body {
	


	 width: 100%;
	
	height:100vh;
	/*display:flex;*/
	
	align-items: center;
	justify-content: center;
	background-color: #f5ffa;
	padding: 0 1.5rem;


}

.breadcrumb {

	
	
	padding: 5rem;
	background-color: #f5fffa;
}
}
.blog-post{
	  margin:20px  auto;
	width: 100%;
	max-width: 98rem;
	padding: 5rem;
	background-color: #f5fffa;
	box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);
	display: flex;
	align-items: center;
	border-radius: .8rem;
	
}/*
.blog-post:hover{
	border-left: solid 5px orange;
}

.blog-post:selected{
	border-left: none;
}
*/
.stretch {

	margin-top: 20px;
	margin-bottom: 20px;
}
.stretchtemple {

display:block;
		width: 70%;
		margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
		margin-right: auto;
}




.stretch3 {

	margin-top: 20px;
	margin-bottom: 20px;
}

.blog-post_img {
	
	min-width:34rem;
	max-width: 34rem;
	height:30rem;
	transform: translateX(-3rem);
	position:relative;
 

}

.blog-post_img img {
	
	width: 100%;
	height:100%;
	object-fit:cover;
	display:block;
	border-radius: .8rem;

}

.blog-post_img:: before{
	
	content: "";
	width:100px;
	height:100;
	position: absolute;
	top:0;
	left:0;
	background: linear-gradient(to right, rgba(79,172,254,.8)
		rgba(0,242,254,.8));
	box-shadow: .5rem, .5rem 3rem 1px rgba(0,0,0,.05);
border-radius:.8rem;
}
/*
#lineimage {

	

	 display:inline-block;
	padding: 0.0rem 0.0rem;
	color: white;
	font-weight: bold;

background-image: linear-gradient(to right, #00796b 0%, #4facfe 100%);
	border-radius: .8rem;
	text-decoration: none;
	margin-top: 3px; 	
}

#lineimage:hover {

	

	 
border-left: 4px solid hotpink;
}*/
.blog-post_date span{

	display:block;
	font-size: 1.4rem;
	/*color: rgba(0,0,0,.5);*/
	font-weight:600;
	margin:1.4rem 0;
color: #333;
}
.blog-post_info h2 {
color: #00796b;
font-size: 22px;
text-decoration: none;
}

 a{

	text-decoration: none;
}
.blog-post_title {

	font-size:2.5rem;
	margin: 1.5rem 0 rem;
	text-transform:uppercase;
	color: #4facfe;
	/*font-family:Verdana, Geneva, sans-serif;*/

}

.blog-post_text{
margin-top: 2rem;
margin-bottom: 3rem;
font-size: 14px;
;
/*color: rgba(0,0,0,.7);*/

}

#myBtn{
 /* Fixed/sticky position */
	/*display:inline-block;*/
	padding: 1.5rem 3rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 1.4rem;
	color: white;
	font-weight: bold;
/*	backround-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);*/
background-image: linear-gradient(to right, #00796b 0%, #4facfe 100%);
	border-radius: .8rem;
	text-decoration: none;
	margin-top: 3px; 	
	border-color: #00796b;
	overflow:none;
}
#myBtn:hover{

	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
	border: solid 1.5px hotpink;
}

#myBtn2
{
background-color: #00796b;
color: #f5fffa;

}

#myBtn2:hover
{
background-color: #f5fffa;
color: #4facfe;
}


a h2:hover{

	color:hotpink;
}

#newbutton{
 /* Fixed/sticky position */
	display:inline-block;
	padding: 1.5rem 3rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 1.4rem;
	color: white;
	font-weight: bold;
/*	backround-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);*/
background-image: linear-gradient(to right, #00796b 0%, #4facfe 100%);
	border-radius: .8rem;
	text-decoration: none;
 	
	border-color: #00796b;
	
}

#myBtn4{

	display:inline-block;
	padding: 1.5rem 3rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 1.4rem;
	color: white;
	font-weight: bold;
/*	backround-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);*/
background-image: linear-gradient(to right, #00796b 0%, #4facfe 100%);
	border-radius: .8rem;
	text-decoration: none;
	margin-top: 3px; 	
	border-color: #00796b;
}
#myBtn4:hover{

	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
	border: solid 1.5px hotpink;
}


#thingy:hover{

	border-left: solid 5px hotpink;
}

	
@media screen and (max-width: 1068px)
{

	.blog-post{

		max-width: 80rem;

	}

	.blog-post_img{

		min-width:30rem;
		max-width: 30rem;
		display:block;
	}
}

@media screen and (max-width: 868px)
{

	.blog-post{

		max-width: 100%;
		
	}

	
}


@media screen and (max-width: 768px)
{
	body{

		/*	display:flex;
			 margin: 0;*/
	}

	.blog-post{

		padding:2.5rem;
		flex-direction: column;
/*margin-top: 60px;*/
	}

	.blog-post_img{

		min-width:100%;
		max-width: 100%;
		transform: translate(0, -1rem);
		/*margin-top:30px;*/

	}
}


	#more {

		display: none;
			
		


	}
	#more4 {

		display: none;
		


	}














.sidebar {
		padding: 5px 24px 0 24px;
	}

	
	/* collapsable page */

	/* Style the button that is used to open and close the collapsible content */

	.collapsible {
		background-color: #f5fffa;
		color: #63595C;
		cursor: pointer;
		padding: 18px 5px;
	    margin-bottom: 5px;  
		width: 100%;
		border: none;
		border-bottom: 1px dashed #00796b;
		text-align: center;
		outline: none;
		font-size: 18px;
		font-weight: bold;
	}
	.collapsible a {
		text-align: center;
		outline: none;
	}
	
	.collapsible h5 {
		font-size: 10px;
		font-style: italic;
		color: black;
	}
	
	/*.active, .collapsible:visited {
		background-color: #99C9C3;
		color: #333;
	}*/
	
	.active, .collapsible:hover {
		background-color: #00796b;
		color: white;
	
	}
	
	/*
	.active, .collapsible:focus {
		background-color: yellow;
		color: white;
	
	}*/

	
	
	.active, .collapsible:active {
		background-color: #00796b;
		color: #00796b;
	}
	
	
	
	
	/*.collapsible:active{
	
	color: #33ac9e;
	}*/

	
	
	/*
	.collapsible:focus {
		background-color: 	#FFD2E8;
		FFD2E8;
		color: #333;
	
	}
	*/
	

	
	/*.collapsible: {
		background-color:red;
		
	
	}*/
	
	



	.active, .nav:hover {
		background-color: white;
	}
	
	
	.toggle p {
		padding: 10px 18px;
		display: none;
		overflow: hidden;
		background-color:  #fdfcfa;
		
		/* border: 2px solid;*/
 /* border-image-source: linear-gradient(45deg, rgb(0,121,107), rgb(0,121,107));  
  border-image-slice: 1; */
		color: #333;
		
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #00796b;
   
  
		/*blah*/
	}
	.toggle #intro {
		display: none;
		overflow: hidden;
	}
	.toggle p img {
		max-width: 100%;
		/*height: auto;*/
		margin: 0 auto;
		/*display: block;*/
		padding: 1px;
	}
	
	.toggle a {
		
		text-decoration: none;
	}
	.sidebar {
		padding: 5px 24px 0 24px;
	}
	

	.expandimage:{
position: center;
margin-right: 50px;
	}




	