@media screen and (min-width: 736px) {
.toggle1 {
    position: static;
    /* background-color: blue; */
}

.toggle1 i {
    display: none;


}
}


.toggle1 {
    display: flex;
    padding: 5px 15px;
    background-color: orange;
    width: 100%;
    /* overflow: auto; */
    /* position: fixed;
	top: 0;
	left: 3; */
    margin: auto;
}
/*  */