	
<h2> Upcoming Submissions </h2>
<!-- REPEAT BLOG -->
	<div class="blog-post">
		<div class="blog-post_img"> <img src="img/gabriel-ramos-NCP6XF9XmvA-unsplash.small.jpg" alt=""> </div>
		<div class="blog-post_info">
			<div class="blog-post_date">
				<p class="yellow"><em> NEW</em></p> <span> February 2021</span>
				<h3> 

<i class="fas fa-university fa-fw"></i> SUBMISSION TO DUBLIN CITY COUNCIL: <br></h3>
				<br><p> DCC's Question 1: How do we encourage more people to travel sustainably such as walk, cycle and use public transport? </p><p>
					<br>
				(See background and context on 
				<a href="https://consult.dublincity.ie/en/consultation/pre-draft-public-consultation-strategic-issues-paper-dublin-city-development-plan-2022-2028/chapter/theme-6-sustainable-movement-and-transport">Dublin City Councils Consultation Portal</a>) </p>
				<!--<h1 class="blog-post_title"></h1>--></div>
			<p class="blog-post_text"> </p> <a href="" id="newbutton">COMING SOON</a>
			<!-- <a href="#" class="blog-post_cta">Read More</a>--></div>
	</div>
	
	<!-- REPEAT BLOG -->
	<div class="blog-post">
		<div class="blog-post_img"> <img src="img/M4_bus_lane_1017020.jpg" alt=""> </div>
		<div class="blog-post_info">
			<div class="blog-post_date">
				<p class="yellow"><em> NEW</em></p> <span> February 2021</span>
				<p> Learning from past mistakes </p>
				<h3> 

<i class="far fa-lightbulb fa-fw"></i>NEW IDEAS FOR THE M50? <br></h3>
				<br><p> A look at past proposals, similar projects and what went wrong </p>
				<!--<h1 class="blog-post_title"></h1>--></div>
			<p class="blog-post_text"> </p> <a href="" id="newbutton">COMING SOON</a>
			<!-- <a href="#" class="blog-post_cta">Read More</a>--></div>
	</div>


	<!-- REPEAT BLOG -->
	<div class="blog-post">
		<div class="blog-post_img"> <img src="img/facebook-Linked_Image___10-MetroLink-Proposalfinalk.jpg" alt=""> </div>
		<div class="blog-post_info">
			<div class="blog-post_date">
				<p class="yellow"><em> NEW</em></p> <span> March 2021</span>
				<h3> 

<i class="fas fa-subway fa-fw"></i> METRO SOUTH WEST: A FURTHER LOOK <br></h3>
				<br><p> Coming Soon </p>
				<!--<h1 class="blog-post_title"></h1>--></div>
			<p class="blog-post_text"> </p> <a href="" id="newbutton">COMING SOON</a>
			<!-- <a href="#" class="blog-post_cta">Read More</a>--></div>
	</div>
	<!-- REPEAT BLOG -->
	<div class="blog-post">
		<div class="blog-post_img"> <img src="img/Screenshot_20.png" alt=""> </div>
		<div class="blog-post_info">
			<div class="blog-post_date">
				<p class="yellow"><em> NEW</em></p> <span> April 2021</span>
				<h3> 

<i class="fas fa-seedling fa-fw"></i> A NEW PARK FOR CAPPAGH ROAD FINGLAS?<br></h3>
				<br><p> Coming Soon </p>
				<!--<h1 class="blog-post_title"></h1>--></div>
			<p class="blog-post_text"> </p> <a href="" id="newbutton">COMING SOON</a>
			<!-- <a href="#" class="blog-post_cta">Read More</a>--></div>
	</div>
	<!-- REPEAT BLOG -->
	<div class="blog-post">
		<div class="blog-post_img"> <img src="img/grandcanal.png" alt=""> </div>
		<div class="blog-post_info">
			<div class="blog-post_date">
				<p class="yellow"><em> NEW</em></p> <span> May 2021</span>
				<h3> 
<!--
<i class="fas fa-biking fa-fw"></i> GRAND CANAL CYCLING <br></h3>
				<br><p> The challenges in providing a decent track</p>
				<!--<h1 class="blog-post_title"></h1>--></div>
			<p class="blog-post_text"> </p> <a href="" id="newbutton">COMING SOON</a>
			<!-- <a href="#" class="blog-post_cta">Read More</a>--></div>
	</div>
<!-- REPEAT BLOG -->
	<div class="blog-post">
		<div class="blog-post_img"> <img src="img/Early_20th_century_OConnell_St_Dublin_with_trams.jpg" alt=""> </div>
		<div class="blog-post_info">
			<div class="blog-post_date">
				<p class="yellow"><em> NEW</em></p> <span> June 2021</span>
				<h3> 

<i class="fas fa-monument fa-fw"></i> RESTORING O'CONNELL Street <br></h3>
				<br><p> Where it went wrong and how to move forward</p>
				<!--<h1 class="blog-post_title"></h1>--></div>
			<p class="blog-post_text"> </p> <a href="" id="newbutton">COMING SOON</a>
			<!-- <a href="#" class="blog-post_cta">Read More</a>--></div>
	</div>

<!-- REPEAT BLOG -->
	<div class="blog-post">
		<div class="blog-post_img"> <img src="img/D5kdrhqWAAAxh-c.jpg" alt=""> </div>
		<div class="blog-post_info">
			<div class="blog-post_date">
				<p class="yellow"><em> NEW</em></p> <span> July 2021</span>
				<h3> 
					
<i class="fas fa-seedling fa-fw"></i> HAVE PLAYGROUNDS FOR KIDS GOTTEN WORSE? <br></h3>
				<br><p> Where it went wrong and how to move forward</p>
				<!--<h1 class="blog-post_title"></h1>--></div>
			<p class="blog-post_text"> </p> <a href="" id="newbutton">COMING SOON</a>
			<!-- <a href="#" class="blog-post_cta">Read More</a>--></div>
	</div>

<!-- REPEAT BLOG -->
	<div class="blog-post">
		<div class="blog-post_img"> <img src="img/braemor-1.jpg" alt=""> </div>
		<div class="blog-post_info">
			<div class="blog-post_date">
				<p class="yellow"><em> NEW</em></p> <span> August 2021</span>
				<h3> 
					
<i class="fas fa-spinner fa-fw"></i> THE OVERLOOKED ORBITAL THAT NEVER WAS <br></h3>
				<br><p> Why the Churchtown road upgrades don't stretch far enough</p>
				<!--<h1 class="blog-post_title"></h1>--></div>
			<p class="blog-post_text"> </p> <a href="templeogue3.html" id="newbutton">COMING SOON</a>
			<!-- <a href="#" class="blog-post_cta">Read More</a>--></div>
	</div>

<!-- REPEAT BLOG -->
	<div class="blog-post">
		<div class="blog-post_img"> <img src="img/swimmingpools.png" alt=""> </div>
		<div class="blog-post_info">
			<div class="blog-post_date">
				<p class="yellow"><em> NEW</em></p> <span> September 2021</span>
				<h3> 
				
<i class="fas fa-swimming-pool fa-fw"></i> SWIMMING POOLS AND THE FLAWED FOR PROFIT MODEL <br></h3>
				<br><p> Why urgent public investment is needed </p>
				<!--<h1 class="blog-post_title"></h1>--></div>
			<p class="blog-post_text"> </p> <a href="" id="newbutton">COMING SOON</a>
			<!-- <a href="#" class="blog-post_cta">Read More</a>--></div>
	</div>


<!-- REPEAT BLOG -->
	<div class="blog-post">
		<div class="blog-post_img"> <img src="img/scootscoot.jpg" alt=""> </div>
		<div class="blog-post_info">
			<div class="blog-post_date">
				<p class="yellow"><em> NEW</em></p> <span> October 2021</span>
				<h3> 
				
<i class="fas fa-hard-hat fa-fw"></i> EMBRACING THE SCOOTER <br></h3>
				<br><p> Integrating our newest mode into the transport mix</p>
				<!--<h1 class="blog-post_title"></h1>--></div>
			<p class="blog-post_text"> </p> <a href="" id="newbutton">COMING SOON</a>
			<!-- <a href="#" class="blog-post_cta">Read More</a>--></div>
	</div>
<!-- REPEAT BLOG -->
	<div class="blog-post">
		<div class="blog-post_img"> <img src="img/silhouette-0091cefe-1.jpg" alt=""> </div>
		<div class="blog-post_info">
			<div class="blog-post_date">
				<p class="yellow"><em> NEW</em></p> <span> November 2021</span>
				<h3> 
				
<i class="fas fa-road fa-fw"></i> ROAD TO REDEMPTION<br></h3>
				<br><p> The mainstream automaker trying to put things right</p>
				<!--<h1 class="blog-post_title"></h1>--></div>
			<p class="blog-post_text"> </p> <a href="" id="newbutton">COMING SOON</a>
			<!-- <a href="#" class="blog-post_cta">Read More</a>--></div>
	</div>
<!-- REPEAT BLOG -->
	<div class="blog-post">
		<div class="blog-post_img"> <img src="img/mydublinbusmain.jpeg" alt=""> </div>
		<div class="blog-post_info">
			<div class="blog-post_date">
				<p class="yellow"><em> NEW</em></p> <span> December 2021</span>
				<h3> 
				
<i class="fas fa-city fa-fw"></i> FAR FROM IT YE WERE REARED<br></h3>
				<br><p>A look at the Dublin nightscene, and breathling life into it again</p>
				<!--<h1 class="blog-post_title"></h1>--></div>
			<p class="blog-post_text"> </p> <a href="" id="newbutton">COMING SOON</a>
			<!-- <a href="#" class="blog-post_cta">Read More</a>--></div>
	</div>
-->

<!-- REPEAT BLOG -->
<div class="blog-post">
	<div class="blog-post_img"> <img src="img/mydublinbusmain.jpeg" alt=""> </div>
	<div class="blog-post_info">
		<div class="blog-post_date">
			<p class="yellow"><em> NEW</em></p> <span> January 2022</span>
			<h3>

				<i class="fas fa-city fa-fw"></i> SUVS IN IRELAND ARE A PROBLEM, HERES WHY<br>
			</h3>
			<br>
			<p></p>
			<!--<h1 class="blog-post_title"></h1>-->
		</div>
		<p class="blog-post_text"> </p> <a href="" id="newbutton">COMING SOON</a>
		<!-- <a href="#" class="blog-post_cta">Read More</a>-->
	</div>
</div>

<!-- REPEAT BLOG -->
