* {
    font-family: "Lato", sans-serif;
    color: #121212;
    box-sizing: border-box;
}

input[type="text"]:disabled {
    background: #ddd;
}

ul {
    list-style-type: none;
    padding: 0;
}

#login {
    width: 600px;
    margin: 50px auto;
    margin-bottom: 150px;
}

#login>h2 {
    font-size: 46px;
    font-weight: 900;
    text-align: center;
}

#login>ul {
    text-align: center;
}

#login>ul>li {
    margin: 20px 0;
    font-size: 16px;
}

#form {
    margin-top: 50px;
}

#form>div {
    width: 100%;
    margin-bottom: 30px;
}

#form>div label {
    width: 100%;
}

#form>div input {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #121212;
}

#form>button {
    padding: 15px 40px;
    font-size: 16px;
    background-color: #121212;
    color: #fff;
    border-radius: 5px;
    border: 0;
    font-weight: 500;
    cursor: pointer;
}

#error {
    margin-top: 30px;
    padding: 13px 20px;
    border-radius: 5px;
    background-color: #E34848;
    color: #fff;
    opacity: 0;
    transition: 0.1s;
}

#error.show {
    opacity: 1;
}