    *,
    *::before,
    *::after {
      box-sizing: border-box;
      /* font-family: Gotham Rounded; */
      font-size: 18px;
      font-family: 'DotGothic16', sans-serif;
      font-family: 'Roboto Mono', monospace;
    }

    :root {
      --hue-neutral: 200;
      --hue-wrong: 10;
      --hue-correct: 156;
    }

    body {
      /* --hue: var(--hue-neutral); */
      /* background-color: #f5fffa; */
      color: black;
      padding: 0;
      margin: 0;
      display: flex;
      width: 100vw;
      height: 100vh;
      justify-content: center;
      align-items: center;
      /* display: flex;
  width: 100vw;
  height: 100vh; */

      /* background-color: hsl(var(--hue), 100%, 20%); */
      background-color: #F5FFFA;
      /* background:
  	linear-gradient(45deg, #842D2F 45px, transparent 45px)64px 64px,
linear-gradient(45deg, #842D2F 45px, transparent 45px,transparent 91px, #f5fffa 91px, #f5fffa 135px, transparent 135px),
linear-gradient(-45deg, #842D2F 23px, transparent 23px, transparent 68px,#842D2F 68px,#842D2F 113px,transparent 113px,transparent 158px,#842D2F 158px);
 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    }




    body.correct {
       /* --hue:var(--hue-correct);    */
      /* background-color: #00796b; */
       background-color: mediumspringgreen; 
    }

    body.wrong {
       --hue:var(--hue-wrong); 
      
      
    }

    .container {
      /* width: 800px;  */
      max-width: 90%;
      /* background-color: #00796b; */
      border-radius: 5px;

      box-shadow: 0 0 10px 2px;
      background-image: url(img/IMG-20210313-WA0018.jpg);
      /* background-color: pink; */
      position: static;
      display: block;
      margin-top: 350px;
      /* height: 50%; */
      /* background-position:bottom;
    background-repeat: no-repeat;
    background-size:cover; */
      /* margin-top: 30px; */

      /* position: absolute; */
      /* bottom: 20px; */
    }



    .btn-grid {
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 10px;
      margin: 20px 0;
      position: relative;
      bottom: 10px;
    }

    #question-container {
      /* color:Red;
position: absolute;
bottom: 10px; */
      margin-top: 10px;
      margin-left: 5px;
    }

    .btn {
      --hue: var(--hue-neutral);
      border: 1px solid hsl(var(--hue), 100%, 30%);
      /* border: 1px solid hotpink; */
      background-color: hsl(var(--hue), 70%, 50%);


      border-radius: 5px;
      padding: 5px 10px;
      color: #F5FFFA;
      outline: none;
      margin: 5px;
    }

    .btn:hover {
      border-color: black;

    }

    .btn.correct {
      --hue: var(--hue-correct);
      /* color: #00796b; */
    }

    .btn.wrong {
      --hue: var(--hue-wrong);
    }

    .start-btn,
    .next-btn {
      font-size: 1.5rem;
      font-weight: bold;
      padding: 10px 20px;
      background-color: #120d31;
    }
        .start-btn:hover{
color: hotpink;
cursor: pointer;
        }

    .controls {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .hide {
      display: none;
    }

    img {

      /* display: block;
     position: static;
    
	
		width: 100%;
		
		min-height: 300px;
     object-fit: contain;
		margin-left: auto;
		margin-right: auto;
    margin-bottom: 20px; */


      width: 50%;
      display: block;
      position: relative;
      top: 10px;
      margin-bottom: 10px;
      padding: 60px;
      border-radius: 1.5px;

    }

    @media screen and (max-width: 736px) {

      img {


        /* position: static;
      background-color: yellow;
margin-left: auto;
margin-right: auto;

 min-width: 80%;  */
        /* max-height: 280px; */

        /* border: 3px solid #00796b; */
        position: absolute;
        top: 10px;
        min-width: 90%;
        min-height: 200px;
        padding: 0px;
      }
    }