Puzzle Game in Javascript with Source Code with Source Code | Javascript Projects with Source Code
img{
    width: 350px;
    height: 350px;
}
#previousbtn{
    margin-right: 75px;;
}
#nextbtn{
    margin-left: 75px;
}

h1 {

    color: red;
}