*,
*::before,
*::after{
	margin: 0;
	padding:0;
	box-sizing:border-box;

}

html {
	

	font-family: "Baloo", sans-serif;
	font-size: 10px;

}

body{


}

.container{

	padding-left: 500px;
	padding-right: 500px;
}

.title4 h1 {
		
	/*	background-color: rgba(0,121,107,0.6);*/
	/*	background-color: rgba(255,121,107,0.2);*/
font-weight: bold;	
color: #00796b;
	/*text-shadow: -1px 0 #00796b, 0 1px #00796b, 1px 0 #00796b, 0 -1px #00796b;*/
	font-weight: bold;
/*	text-shadow: 1px 1px #333;*/
margin-bottom:0px;
margin-top:10px;
text-align:left;
font-size: 22px;


	}
#fail {
width: 100%;
	max-width: 98rem;
	padding:20px 5px 10px 25px;
	box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);
/*	background-color:#13293D;*/
background-color:#000;
		 margin:5px  auto;
}
#fail a {
		
		 
	
	color:#f4fffa;
	
	
}
#fail a:hover{
color:hotpink;

}
#fail p{

	color:pink;
	margin-top:20px;
}

.yellow{

	color:pink;
}

.yellow2{
	text-align:center;
}

#fail h1{
	text-align: center;
	color: white
}
#fail h1:hover{
color:hotpink;

}

	

img {
	
	width: 100%;
}

p{

	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
	color:#333;
	/*padding-top: :10.2rem;*/
	20px 5px 0 5px;
}

body {
	


	 width: 100%;
	
	height:100vh;
	/*display:flex;*/
	
	align-items: center;
	justify-content: center;
	/*background-color: #f5ffa;*/

	padding: 0 1.5rem;


}

.blog-post{
	  margin:20px  auto;
	width: 100%;
	max-width: 98rem;
	padding: 5rem;
	background-color: #f5fffa;
	box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);
	display: flex;
	align-items: center;
	border-radius: .8rem;
	
}

.blog-post2{
	  margin:5px  auto;
	width: 100%;
	max-width: 78rem;
	padding: 5rem;
	background-color: white;
	box-shadow: 0 1rem 3rem rgba(0,0,0,.2);
	display: flex;
	align-items: center;
	border-radius: .2rem;
	border-left: solid 5px orange;
}/*
.blog-post:hover{
	border-left: solid 5px orange;
}

.blog-post:selected{
	border-left: none;
}
*/
.stretch {



	display:block;
		width: 80%;
		/*height: 100%;*/
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 30px;
	}

.stretchtemple {

display:block;
		width: 80%;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
		margin-right: auto;
}
.stretchtemple2 {

display:block;
		width: 60%;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
		margin-right: auto;
}

.side {

	  float: left;
   width: 50%;
   padding: 1px;
   margin-bottom: 20px;
}

.side img {

	height: 400px;
}

.stretch3 {

	margin-top: 20px;
	margin-bottom: 20px;
}

.blog-post_img {
	
	min-width:34rem;
	max-width: 34rem;
	height:30rem;
	transform: translateX(-3rem);
	position:relative;
 

}


.blog-post_img img {
	
	width: 100%;
	height:100%;
	object-fit:cover;
	display:block;
	border-radius: .8rem;

}

.blog-post_img:: before{
	
	content: "";
	width:100px;
	height:100;
	position: absolute;
	top:0;
	left:0;
	background: linear-gradient(to right, rgba(79,172,254,.8)
		rgba(0,242,254,.8));
	box-shadow: .5rem, .5rem 3rem 1px rgba(0,0,0,.05);
border-radius:.8rem;
}
.blog-post_img2 {
	
	min-width:34rem;
	max-width: 34rem;
	height:20rem;
	transform: translateX(-3rem);
	position:relative;
 /*border-bottom: 1px solid blue;*/

}
.blog-post_img3 {
	
	min-width:34rem;
	max-width: 54rem;
	height:30rem;
	transform: translateX(-1rem);
	position:relative;
 

}
.footer {
		  margin:20px  auto;
	width: 100%;
	max-width: 98rem;
	padding: 8px;
		text-align: center;
		
		background-color: #555;
	
	}


.footer a {
		text-decoration: none;
		color: hotpink;
		margin-top: 5px;
		font-size: 14px;
		margin-right: auto;
	}
	
	.footer p{
		margin-top: 10px;
		margin-bottom: 15px;
		font-weight: bold;
		color: #f5fffa;
		
	}
	



/*
#lineimage {

	

	 display:inline-block;
	padding: 0.0rem 0.0rem;
	color: white;
	font-weight: bold;

background-image: linear-gradient(to right, #00796b 0%, #4facfe 100%);
	border-radius: .8rem;
	text-decoration: none;
	margin-top: 3px; 	
}

#lineimage:hover {

	

	 
border-left: 4px solid hotpink;
}*/
.blog-post_date span{

	display:block;
	font-size: 1.4rem;
	/*color: rgba(0,0,0,.5);*/
	font-weight:600;
	margin:1.4rem 0;
color: #333;
}
.blog-post_info h2 {
color: #00796b;
font-size: 20px;
text-decoration: none;
}
.blog-post_info2 h2 {
color: grey;
font-size: 20px;
text-decoration: none;
}

#blue{
	
	background-color:#00796b;
padding:50px;
}

#blue p{
	background-color:#f5fffa;
	
	padding:50px 50px 50px 50px;
	color:white;
}

 a{

	text-decoration: none;
}
.blog-post_title {

	font-size:2.5rem;
	margin: 1.5rem 0 rem;
	text-transform:uppercase;
	color: #4facfe;
	/*font-family:Verdana, Geneva, sans-serif;*/

}

h3{
font-size:2.5rem;
	margin: 1.5rem 0 rem;
	text-transform:uppercase;
	color: #4facfe;

}

.silly{
 width: 350px;

}
.blog-post_text{
margin-top: 2rem;
margin-bottom: 3rem;
margin-left: 5px;
font-size: 14px;
;
/*color: rgba(0,0,0,.7);*/

}
.blog-post_text2{
margin-top: 2rem;
margin-bottom: 3rem;
margin-left: 5px;
font-size: 14px;
color:black
 border-bottom: 1px solid blue;
/*color: rgba(0,0,0,.7);*/

}
#myBtn{
 /* Fixed/sticky position */
	/*display:inline-block;*/
	padding: 1.5rem 3rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 1.4rem;
	color: white;
	font-weight: bold;
/*	backround-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);*/
background-image: linear-gradient(to right, #00796b 0%, #4facfe 100%);
	border-radius: .8rem;
	text-decoration: none;
	margin-top: 3px; 	
	border-color: #00796b;
	overflow:none;
}
#myBtn:hover{

	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
	border: solid 1.5px hotpink;
}

#myBtn2
{/*
background-color: #00796b;
color: #f5fffa;
margin-top: 20px;*/

}

#myBtn2:hover
{
background-color: #f5fffa;
color: #4facfe;
}

#myBtn5{

		background-color: #00796b;
color: #f5fffa;
margin-top: 20px;
	}

	#myBtn6
{




}

#myBtn6:hover
{
background-color: #f5fffa;
color: #4facfe;
}

a h2:hover{

	color:hotpink;
}

#newbutton{
 /* Fixed/sticky position */
	display:inline-block;
	padding: 1.5rem 3rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 1.4rem;
	color: white;
	font-weight: bold;
/*	backround-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);*/
background-image: linear-gradient(to right, #00796b 0%, #4facfe 100%);
	border-radius: .8rem;
	text-decoration: none;
 	
	border-color: #00796b;
	
}

#newbutton2{
 /* Fixed/sticky position */
	display:inline-block;
	padding: 1rem 1rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 1.4rem;
	color: hotpink;
	font-weight: bold;
/*	backround-image: linear-gradient(to right, #000000 0%, #000000 0%);
background-image: linear-gradient(to right, #000000 0%, #000000 80%);*/
	border-radius: .8rem;
	text-decoration: none;
 	
	border-color: #00796b;
	
}

#myBtn4{

	display:inline-block;
	padding: 1.5rem 3rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 1.4rem;
	color: white;
	font-weight: bold;
/*	backround-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);*/
background-image: linear-gradient(to right, #00796b 0%, #4facfe 100%);
	border-radius: .8rem;
	text-decoration: none;
	margin-top: 3px; 	
	border-color: #00796b;
}
#myBtn4:hover{

	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
	border: solid 1.5px hotpink;
}

#thingy2
{
 
/*width: 80%;*/
 


display:block;
position: relative;

  height: 405px;
  background-color: purple;
  
background-position-X: center;
}
#thingy:hover{

	border-left: solid 5px hotpink;
}

	
@media screen and (max-width: 1068px)
{

	.blog-post{

		max-width: 80rem;

	}

	.blog-post_img{

		min-width:30rem;
		max-width: 30rem;
		display:block;
	}
	.blog-post_img2{

		min-width:80rem;
		
		display:block;
	}
}

@media screen and (max-width: 868px)
{

	.blog-post{

		max-width: 100%;
		
	}

	
}

a{
	color:hotpink;
}
@media screen and (max-width: 768px)
{
	body{

		/*	display:flex;
			 margin: 0;*/
	}

	.blog-post{

		padding:2.5rem;
		flex-direction: column;
/*margin-top: 60px;*/
	}

	.blog-post_img{

		min-width:100%;
		max-width: 100%;
		transform: translate(0, -1rem);
		/*margin-top:30px;*/

	}

	.stretchtemple {

display:block;
		width: 100%;
		height:100%;
	margin-top: 10px;
	margin-bottom: 10px;
	
}
.stretchtemple2 {

display:block;
		width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
		margin-right: auto;
}

.silly{
 width: 250px;


}

#myBtn5{
display:none;
}

.side{

	 float: none;
   width: 100%;
   padding: 0px;
   margin-bottom: 5px;
}

.side img {

	max-height: 250px;
}


}


	#more {

		display: none;
			
		


	}
	#more4 {

		display: none;
		


	}














.sidebar {
		padding: 5px 24px 0 24px;
	}

	
	/* collapsable page */

	/* Style the button that is used to open and close the collapsible content */

	.collapsible {
		background-color: #f5fffa;
		color: #555;
		cursor: pointer;
		padding: 18px 5px;
	    margin-bottom: 5px;  
		width: 100%;
		border: none;
		border-bottom: 1px dashed #00796b;
		text-align: center;
		outline: none;
		font-size: 18px;
		font-weight: bold;
	}
	.collapsible2 {
		background-color: #f5fffa;
		color: #555;
		cursor: pointer;
		padding: 18px 5px;
	    margin-bottom: 5px;  
		width: 100%;
		border: none;
		border-bottom: 1px dashed #00796b;
		text-align: center;
		outline: none;
		font-size: 18px;
		font-weight: bold;
	}

	.collapsible a {
		text-align: center;
		outline: none;
	}
	
	.collapsible h5 {
		font-size: 10px;
		font-style: italic;
		color: black;
	}
	
	/*.active, .collapsible:visited {
		background-color: #99C9C3;
		color: #333;
	}*/
	
	.active, .collapsible:hover {
		background-color: #00796b;
		color: white;
	
	}
	
	/*
	.active, .collapsible:focus {
		background-color: yellow;
		color: white;
	
	}*/

	
	
	.active, .collapsible:active {
		background-color: #00796b;
		color: #00796b;
	}
	
	
	
	
	/*.collapsible:active{
	
	color: #33ac9e;
	}*/

	
	
	/*
	.collapsible:focus {
		background-color: 	#FFD2E8;
		FFD2E8;
		color: #333;
	
	}
	*/
	

	
	/*.collapsible: {
		background-color:red;
		
	
	}*/
	
	



	.active, .nav:hover {
		background-color: white;
	}
	
	
	.toggle p {
		padding: 10px 18px;
		display: none;
		overflow: hidden;
		background-color:  #fdfcfa;
		
		/* border: 2px solid;*/
 /* border-image-source: linear-gradient(45deg, rgb(0,121,107), rgb(0,121,107));  
  border-image-slice: 1; */
		color: #333;
		
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #00796b;
   
  
		/*blah*/
	}
	.toggle #intro {
		display: none;
		overflow: hidden;
	}
	.toggle p img {
		max-width: 100%;
		/*height: auto;*/
		margin: 20px auto;
		/*display: block;*/
		padding: 1px;
	}
	
	.toggle a {
		
		text-decoration: none;
	}
	.sidebar {
		padding: 5px 24px 0 24px;
	}
	

	.expandimage:{
position: center;
margin-right: 50px;
	}




	