*{

margin: 0;
padding: 0;	
	font-family: Raleway, Geneva, sans-serif; 


/*	
font-family:"montserrat", sans-serif; */

}

body, html {
	
	height: 100%;
	
padding:0px;
  border: 5px solid #f5fffa;
	
	
}


	
		
		

		
	
		
	
		/*
		nav ul li a:active{
			color: yellow;
		}*/
		
		
		

/*-- responsive menu --> */
.toggle1 {
	display: block; 
	padding: 5px 24px;
	
	
	
	/*
	display: block;
		padding: 5px 20px;
		background-color: #00796b;
		background-image: linear-gradient(white 2px, transparent 2px), linear-gradient(90deg, white 2px, transparent 2px), linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px);
		background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
		background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
	*/
	}
	
	.toggle1 i{
	margin: 0px 5px 0 0;
	background-color: white;
	padding: 5px;
	
	/*
	background-color: white;
		padding: 5px;
		*/
	}
	
	
	
	nav ul 
	{
		width: 100%;
		display: none;
	}
	nav ul li {
		display:block;
		text-align: center;
		position: relative;
		/*background: #00796b;*/
		
		
		background: #00796b;
		
		padding: 10px;
			margin: 5px;
	}
	
	nav ul li a{
		color: white;
		padding: 5px;
	}
	
	nav ul li a:hover{
		color: hotpink;
	}
	
	.active {
		display: block;
			padding: 10px 0 10px 0;
			font-size: 18px;
			/*line-height: 40px*/
	}
	
	
	/*.active {
			display: block;
			padding: 10px 0 10px 0;
			font-size: 18px;
			line-height: 40px;
			
			
		}*/
	
	.fa_custom{
	
	color:#00796b;
}

.thankyou{
	/*background-color: #ffcc00;*/
	background-image: url("img/vadim-burca--DupFuMU1Fw-unsplash.jpg"); 
	height: 100%;
		background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.thankyou2{
	
	/*background-image: url("img/mydublinbusmain.jpeg"); */
	/*background-image: url("img/r-nolan-17YmYXlMM34-unsplash.jpg");*/
	 background-image: url("img/IMG-20210313-WA0018.jpg");
	 
	height: 100%;
		background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#confirmation  {
	
	
	text-align: center;
	
	color:#00796b;
	font-size: 26px;
	/* background-color: #f5fffa; */
	padding: 30px;
	

}




#confirmation  p span{
	
	
	color: #00796b;
	font-size: 20px;
	/* padding: 30px; */
	background-color: #f5fffa;
	

}

#confirmation  p em{
	
	
	color: #842D2F;
	
}





	
#confirmation a span{
	
		margin-top: 50px;
background-color: black;
	/* padding-top: 120px; */

	
}
#movedown  {
	
	padding-top: 20px;
}
/*// changes */
#movedown a {
	/*background-color: black;*/
	color: #f5fffa;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	text-decoration:none;

  height: 30px;
  padding: 10px; 
 background-color: #00796b;
 border-bottom: 2px ridge #ffcc00;
		border-radius: 5px 3px;
}

#movedown a:hover{
	/*background-color: black;*/
	color: hotpink;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	text-decoration:underline;
}

.stretch3{

	display:none;
}

@media screen and (min-width: 736px) {

.thankyou{
	background-image: url("img/mydublinbusmain.jpeg"); 
	height: 100%;
		background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	text-align: center;
	
	
}



.stretch3{

	display:inline;
}
#confirmation  {
	
	
	text-align: center;
	padding-top: 60px;
	/*padding-right: 100px;*/
	color: #00796b;
	font-size: 36px;
}

#confirmation  p span{
	
	/* background-color: transparent; */
	background-color: #fcf6f5;
	 border-bottom: 2px ridge #ffcc00;
		border-radius: 5px 2px;
		padding: 5px;
	
	
}


}






/*
.thankyou p {
	font-size: 50px;
	padding: 150px 0 0 0;
	color: white;
	text-align: center;
	
}
*/

	
	

	

/*
.thankyou a p{
	font-size: 15px;
color: hotpink;

	padding: 10px 10px 10px 10px;
 
	
}*/

.footer {
		
		text-align: center;
		
		background-color: #555;
	
	}
	
	.footer a {
		text-decoration: none;
		color: hotpink;
		margin-top: 10px;
		color: hotpink;
		
	}
	
	.footer p{
		
		
		/*margin-bottom: 15px;*/
		font-weight: bold;
		color: white;
		font-size: 18px;
	}
	
	

.img-mycity {
	/*width: 200px;
	height: 2067px; 
	background-color: red;

	padding: 20px 20px;
	height: 100%;
	width: 200px;
	
	
	margin: 0 auto;
	
	*/
	
}

h1 {
	color: #00796b;
	padding: 10px 5px 0 5px;
	text-align: center;
	
	margin: 5px 10px 0 10px; 

}

h6 {
	padding: 10px;
	color: white;

}


.container {
	margin: 5px;
	background-color: #fcf6f5;
	background-image: url("img/damiano-baschiera-7d2s8ApIejo-unsplash.jpg"); 
		
		
		
		background-position: center;
    background-repeat: no-repeat;
	
	max-width: 100%;
	height: 100%;
	
	
	
	
   
/*		text-align: center;
	color:#00796b; 
	
	height: 100%;
		background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	text-align: center;
	color:#00796b; 
	
	margin: 0 auto;
	width: 1000px;
	background-image: url("img/gabriel-ramos-NCP6XF9XmvA-unsplash.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; */
	
	/*
	background-image:url("img/gabriel-ramos-NCP6XF9XmvA-unsplash.jpg");
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;*/
	 
/*		 height: 900px;
 width: 100%;*/
}

 /*
 height: auto;
	padding: 200px 40px; 
	
*/

#littlebox 
{
	
margin: 0% 10%;

}


#littlebox p{

	/*color:  #00796b;
	margin: 20px 0 100px 10px;*/

	
	text-align: left;

font-size: 16px;
line-height: 22px;
background-color: #fcf6f5;
  color: #555;
 padding: 10px 24px;
 
}

.return {
		
		margin: 40px 100px 10px 100px;
	
	}
	
.return a{
		display: inline;
		margin: 24px 24px;
		color: hotpink;
		text-decoration: none;
		padding: 10px 5px;
		text-align: center;
		background-color: #fcf6f5;
		text-decoration: underline;
	}

/*
.container p {
	max-width: 600px;
	margin: 40px auto;
	font-size: 15px;
	font-weight: 300;
	text-shadow: 2px #ff0000;
	color: black;
	text-align: center;
}*/






/*---- form styling ---*/

.tbox, .btn{
	border: none;
	outline: none;
}

.tbox {
	padding: 0 5px;
	transition: none;
	
}

.email-box {

height: 40px;
display: flex;
justify-content: center;
	margin: 0px 24px;
	padding-top: 50px;
}


.email-box i{
	
	display: none;
	
	
}


.email-box:hover >  .tbox,.tbox:focus{
	width: 260px;
	padding: 0 10px;
	
	
	}

.btn{
	background: #2f3542;
	color: #00796b;
	font-weight: bold;
	padding: 0 10px;
	text-transform: uppercase;
	cursor: pointer;
	
	
}



@media screen and (min-width : 736px)
{
	.body{
	/*	width: 1000px;*/
	}
	.container{
		background-image: url("img/gabriel-ramos-NCP6XF9XmvA-unsplash.jpg"); 
		
		/*width: 80%;
		margin: 0 auto; */
	/*padding: 20px 20px;
	height: 600px;
	width: 80%;
	margin: 0 auto;
	background-color: orange; */
	
	height: 100%;
		background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	text-align: center;
	color:#00796b; 
	margin: 0 100px;
	
	}
	.thankyou{
	
	color: red;
	}
	
	.email-box {

height: 40px;
display: flex;
justify-content: center;
	padding-top: 30px;
}

.email-box i{
	display: block;
	background:#2f3542;
	line-height: 40px;
	width: 20px;
	color: #00796b;
	padding: 0 4px;
	
	
}
	
	.tbox {
	width: 0px;
	transition: 0.6s;
	
}

#littlebox 
{
	
margin: 5% 25%;

}

#littlebox p{

position: relative;
 
  background-color: #fcf6f5;
  color: #555;
 padding: 10px 24px;
  text-align: left;
}


	
}

.toggle p{

	box-shadow: inset 0 0 10px #ffcc00;
	text-align: center;
	padding: 0px;
}
#myBtn{
		
	background-image: linear-gradient(to right, #f0dae6 0%, black 100%);
	margin:0px;
	border-radius:0px;
	
	border: 1px outset hotpink;
}

#myBtn:hover {

	background-image: linear-gradient(to right,black 0%, #ffcc00 100%);
}

p {

	color: #fcf6f5;
}

/*/ thres a change */

