/* generic selectors */
* {

    margin: 0;
    padding: 0;
    font-family: Raleway, Geneva, sans-serif;
}

body {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

/* contact page */
.wrapper {
    width: 100%;
}

span {
    /* color: rgba(0, 121, 107, 0.9); */
    font-weight: bold;
}

h1 {

    color: #00796b;
    display: inline;
    font-size: 32px;
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    margin-right: auto;
    margin-left: auto;

    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

/* font-awesome in FAQ page*/
.fa_custom {
    color: #00796b;
}

/* font-awesome pushes icons a bit to the left*/
.fa-fw {

    padding-right: 25px;
}

h2 {
    color: #555;
    font-size: 18px;
    font-weight: bold;
    padding-top: 2rem;
    text-align: center;
}


h3 {
    text-align: center;
    color: #555;
    font-weight: normal;
    font-size: 18px;
    padding-top: 2rem;
}

h4 {
    color: #00796b;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    /* color: #8ca0ff */
}

h5 {

    text-align: center;
    color: #00796b;
    font-weight: 550;
    font-style: italic;
    text-shadow: 0.5px 0px #555;

}


h6 {
    color: #555;
    padding: 3rem;
    font-size: 18px;

    text-decoration: none;
    /*	text-shadow: 0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 0.5px black; */

}

/* Links */
a {
    color: hotpink;
    font-weight: bold;
}

a:hover {
    color: #ff2190;
    text-decoration: none;
}

/* Lists */
ul {
    list-style-type: none;
    background-color: #f5fffa;
    font-weight: bold;
    /* padding: 5px; */
    color: #00796b;
    /* padding: 2px 24px; */
}

ul li {
    /*background-color: #AntiqueWhite; */
    color: #555;
    padding: 5px;
    font-weight: normal;
}

nav ul {
    width: 90%;
    display: none;
    /* position: relative;
	margin: auto; */
}



nav ul li:hover {
    color: hotpink;
}

/* Nav items that are links */
nav ul li a {
    /* color: white; */
    /* padding: 15px; */
    text-decoration: none;
    color: black;
    position: relative;
}



nav ul li a:hover {
    color: hotpink;
    text-decoration: none;
}

nav ul li ul {
    display: none;
}

/* Nested dropdown show */
/* nav ul li:hover ul {

	display: none;
	position: absolute;
	left: 0px;
	width: 150px;

	margin-top: 1rem;
}

nav ul li:hover ul li {
	color: red;
	 display: none;
	background-color: #e7e7e7;
} */

/*
		nav ul li a:active{
			color: yellow;
		}*/

nav .current {
    color: #00796b;
    background-color: #f5fffa;
    text-decoration: underline;

}

.navbar {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* ul li.navbardrop {

	display: none;

} */

/* ul li a.navbardrop :hover {

	display: block;

} */


/* .content2 h5 {
	padding: 5px 24px 0 24px;
	margin-top: 5px;
}

.content2 p {
	
	padding: 5px 24px 0 24px;
	font: 14px;
} */

.list-index {
    text-align: center;
}

.list-index li {
    color: #333;
}

/* .content2 h2 {
	color: hotpink;
}

.content2 h5 {
	margin-top: 5px;
} */


/*-- GRID MOBILE DEFAULT HTML --> */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-template-rows: 1fr;
    grid-gap: 0px;

    grid-template-areas: "title title"
        "header header"
        /*-- menu titles --> */
        "sidebar sidebar"
        /*-- intro --> */
        "content2 content2"
        /*-- picture --> */
        "other other"
        "footer footer"
}

/*-- responsive menu --> */
.toggle1 i {
    background-color: white;
    padding: 5px;

    transition: all 0.3s ease;
}

.hamburger .menu .active {
    color: #F5FFFA;
    transform: translateY(.8px) rotate(45deg);
}

#breadcrumb {
    padding: 20px;
    background-color: #F5FFFA;
    text-align: center;
    margin-top: 10px;
}

#breadcrumb h2 {
    /*display: inline;*/
    /*margin-left: 20px;*/
    color: #00796b;
    font-weight: bold;
    /*padding: 10px;*/
    /*padding-top: 20px;*/
    background-color: white;
    border-style: dotted;
    border-width: thin;
    border-color: #00796b;
    text-align: left;
    padding: 20px;
    display: inline;

}








.active {
    display: block;
    padding: 10px 0 10px 0;
    font-size: 18px;
    line-height: 40px;
    /* text-decoration: underline; */



    /* position: relative; */
}

.active2 {
    color: gold;
    transform: translateY(.8px) rotate(90deg);
}

/*--nav ul li ul{
			display: none;
			position: relative;
			text-align: none;

		}

		nav ul li:hover ul{
			display: block;


		}*/


.videotitle {
    margin: 10px;
}

.title {
    grid-area: title;
    /* text-align: center; */
    margin-left: auto;
    background-color: rgba(0, 121, 107, 0.9);
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    color: #F5FFFA;

    /* background-image: url("img/dublin-bus.jpg"); */
    /*background-image: url("img/vadim-burca--DupFuMU1Fw-unsplash.jpg");*/
    /*	background-image: url("img/dimitry-anikin-hH43OSl5toU-unsplash.jpg");*/

    /*	background-image: url("img/dimitry-anikin-hH43OSl5toU-unsplash.jpg");*/
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    image-resolution: from-image 300dpi;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.4rem;



}

/* .title  {
	
color: red;
margin-left: auto;
} */
.return h5 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;


}

#new {

    color: yellow;
}

.title3 h1 {

    /* background-color: rgba(0, 121, 107, 0.6); */
    /*	background-color: rgba(255,121,107,0.2);*/
    font-weight: bold;
    color: black;
    text-align: center;
    /*text-shadow: -1px 0 #00796b, 0 1px #00796b, 1px 0 #00796b, 0 -1px #00796b;*/
    font-weight: bold;
    /*	text-shadow: 1px 1px #333;*/
    margin-bottom: 0px;


}

/*	mobile class*/
.title {


    background-image: url("img/dublin-busgrayscale.jpg");

    /*	background-image: url("img/vadim-burca--DupFuMU1Fw-unsplash.jpg");*/
    /* height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 3px; */
    /*	text-shadow: 1px 1px #333;*/


}

.title p {

    color: white;
    font-style: italic;
    font-weight: 550;
    /*	margin-bottom: 0px;*/
    /*background-color: #00796b;*/
    background-color: rgba(0, 121, 107, 0.6);
    /*	padding: 10px;*/
    margin-bottom: 0px;
    padding-bottom: 10px;
    font-size: 16px;

    /*display: none;*/
    /*font-weight: bold;*/

    /*  background-image: url('http://www.pets4homes.co.uk/images/articles/1111/large/feline-influenza-all-about-cat-flu-5239fffd61ddf.jpg');*/

}

.newimaged img {
    background-color: yellow;

}



.title1 {

    /*	text-align: center;
		background-color: #f5fffa;*/

    display: none;

    /*	background-image: url("img/vadim-burca--DupFuMU1Fw-unsplash.jpg");*/
    /*background-image: url("/prueba3/img/Screenshot_17.png");*/
    /*	background-image: none;*/
    /*	height: 100%; */
    /*(background-position: center;
		background-repeat: no-repeat;
		background-size: cover;*/


}

.title1 h1 {

    background-color: rgba(0, 121, 107, 0.6);
    color: #f5fffa;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.title2 h1 {

    /* background-color: rgba(0,121,107,0.6); */
    background-color: #842d2f;
    color: #f5fffa;
    text-align: center;
}





#intro {
    grid-area: sidebar;
    font-style: italic;
    padding-top: 20px;
}

/*#nav {
		background-color: #00796b;
		border-style: solid;
		border-width: thin;
		border-color: #00796b;
		width: 100%;
		height: 60px;
		display: flex;
		flex-wrap: wrap;
		z-index: 1000px;
	}*/
.btn-toggle-nav {
    width: 60px;
    height: 100%;
    /*background-image: url("img/menu.png");*/
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    cursor: pointer;
}

.header {
    grid-area: header;
    text-align: center;
    background-color: #c9c3c2;
    text-decoration: italic;
}

.header a {
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
}

.header a:hover {
    color: hotpink;
    text-decoration: none;
}

.sidebar {
    grid-area: sidebar;
    background-color: #f5fffa;
    color: #555;
}

.sidebar p {
    margin: 20px 5px 0 5px;
}

.sidebar h5 {
    margin-top: 10px;
    margin-bottom: 15px;
}

.content2 {
    grid-area: content2;
    background-color: #f5fffa;
    text-align: center;
    margin-top: 10px;
    /*padding: 3rem;
			display: grid;
		grid-template-columns: 1fr 1fr 1fr;  */
}


.content2 img {
    /*  grid-area: content2;*/
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.stretch {
    display: block;
    width: 80%;
    /*height: 100%;*/
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /*	background-color:#00796b;*/
    border: 2px solid hotpink;
}



.stretch3 {
    display: block;
    width: 90%;
    height: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    /*	background-color:#00796b;*/
    /*	background-color:#00796b;*/
    border-radius: 25px;
}

.v2 {
    display: block;
    width: 90%;
    max-height: 450px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1.5px ridge hotpink;
    border-radius: 3px 3px;
    /*	background-color:#00796b;*/
    /*	background-color:#00796b;*/
}


.green {

    color: #4aab44;
}

.orange {
    color: #f56d21;
}

.purple {
    color: #5a0e56;
}

.blue {

    color: #028bbf;
}

a #target {
    color: red;
}

#leftalign h2 {
    text-align: left;
}

.other {
    grid-area: other;
    background-color: #f5fffa;
    /*	padding: 5px 24px 0 24px;*/
}

.return {

    display: none;
}


.other img {

    /*	margin-bottom:20px;*/

}

.other p {

    padding: 5px 24px 0 24px;
}

.other h5 {
    padding: 5px 24px 0 24px;
    margin-bottom: 15px;
}


.footer a {
    text-decoration: none;
    color: hotpink;
    margin-top: 10px;

}

.footer p {
    margin-top: 15px;
    /*margin-bottom: 15px;*/
    font-weight: bold;
}

.footer {
    grid-area: footer;
    text-align: center;
    color: #f5fffa;
    background-color: #555;
    margin-top: 0px;
}

footer {
    grid-area: footer;
    text-align: center;
    color: #f5fffa;
    background-color: #555;
    margin-top: 0px;
}




/* subscribe page */

#littlebox {

    margin: auto auto;

}


#littlebox p {

    /*color:  #00796b;
	margin: 20px 0 100px 10px;*/


    text-align: left;
    margin-top: 10px;
    font-size: 16px;
    line-height: 22px;
    background-color: #f5fffa;
    color: #555;
    padding: 10px 24px 10px 24px;

}

.prioritization2 {
    display: none;
}

.twochoices2 {

    display: none;
}

.yellow {
    display: inline;
    color: pink;
}



/* this is the desktop version */
@media screen and (min-width: 736px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 500px 500px 1fr;
        grid-template-rows: 1fr;
        grid-gap: 0px;
        /*background-color: #e1ebbd;	*/
        background-color: white;


        /*margin: 0 auto 0 60px; */
        grid-template-areas: ". title title ." ". header header ." ". sidebar sidebar ." ". content2 content2 ." ". other other ." ". footer footer .";
    }

    .navbar {
        width: 100%;
        min-height: 70px;
        display: block;
        justify-content: space-between;
        /* align-items: center; */
        /* border-block: 1px ridge #00796b; */
    }

    .hamburger i {

        display: none;
    }

    .sidebar {
        /*	display: none;*/
    }

    /* Nested dropdown show */
    nav ul li:hover ul {

        display: block;
        position: absolute;
        left: 0px;
        width: 150px;

        margin-top: 1rem;
    }

    nav ul li:hover ul li {
        color: #00796b;
        display: block;
        background-color: #e7e7e7;
    }

    .toggle1 {
        position: static;
        /* background-color: blue; */
    }

    .toggle1 i {
        display: none;


    }

    .prioritization {
        display: none;

    }

    .prioritization2 {
        display: block;
    }


    .title {
        background-image: none;
    }



    nav ul {

        width: 100%;
        display: inline;
        list-style: none;
        /* text-align: center;
		padding-left: 50px; */
        /* border-block: .8px ridge #00796b; */


    }

    h1 {
        /* padding-left: auto; */
    }

    /* nav ul li {
		display: inline;
		/*	 background-color: #00796b;
		border-radius: 0.2rem;
		border-style: groove;

	} */

    /*Nav items that are not links e.g dropdown */
    nav ul li {

        display: inline-block;
        /* padding necessary here so that the clickable area increases for dropdown  */
        padding: 1rem;
        position: relative;
        /* puts dropdown inline with menu item  */
        color: black;
        flex-grow: 1;

    }

    .center2 h1 {
        /* padding: 1.5rem; */
        color: pink;
        text-align: center;
    }

    .multi-level,
    .item ul,
    .nav input[type="checkbox"] {
        display: none;
    }

    #menu:checked~.multi-level,
    .item input:checked~ul {
        display: block;
    }




    /*Styles*/

    label:hover {
        cursor: pointer;
    }



    .videobus {
        display: none;

    }

    .stretch3 {
        display: block;
        width: 70%;
        height: 500px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;

        /*	background-color:#00796b;*/
    }

    .twochoices {

        display: none;
    }

    .twochoices2 {

        display: block;
    }

    .return {

        display: block;
    }


    .title {
        grid-area: title;
        text-align: center;
        background-color: #f5fffa;
        padding-bottom: 0px;
        background-image: none;
        background:
            linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px,
            linear-gradient(45deg, #92baac 45px, transparent 45px, transparent 91px, #f5fffa 91px, #f5fffa 135px, transparent 135px),
            linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px, #92baac 68px, #92baac 113px, transparent 113px, transparent 158px, #92baac 158px);
        text-shadow: -1px 0 black, 0 1px black, 1p x 0 black, 0 -1px black;


    }

    .title h1 {

        background-color: #f5fffa;
        /*	background-color: rgba(255,121,107,0.2);*/


        text-shadow: none;
        font-weight: normal;
        /*	text-shadow: 1px 1px #333;*/
        /* margin-bottom:0px; */
        /* padding-top: 50px; */
        margin-left: auto;
        margin-right: auto;
        text-align: right;
        color: #00796B;

    }

    .title p {
        /* background-color: rgba(0, 121, 107, 0.7);
		color: #f5fffa;
		font-style: italic;
		display: block;
		/* margin-bottom: 15px; */
        padding-bottom: 5px;
        text-shadow: none;
        /* width: 70%; */
        /* width:50%; */


    }

    /* comment a change */

    .title1 {

        /*text-align: center;
		background-color: #f5fffa;



			background-image: url("img/vadim-burca--DupFuMU1Fw-unsplash.jpg");
	background-image: none;

		*/
        display: block;
        width: 50%;
        /*height: 100%;*/
        margin-left: auto;
        margin-right: auto;


    }

    .title #clear h1 {
        color: white;

    }

    .title #clear2 {

        background-image: none;


    }



    #breadcrumb {
        display: none;
    }

    .meaning {
        text-align: center;
    }

    /*
	.title1 h1{
		background-color: red;
		color: red;

	}*/

    /*
	.container {
		margin: 5px;
		background-position: center;
    background-repeat: no-repeat;
	background-image: url("img/dublin-busgrayscale.jpg");
	background-size: auto;

	height: 100%;
	}
	*/


    #littlebox {

        /*margin: 5% 10%;*/
        /*margin-top: 10px;*/
    }


    #littlebox p {

        position: relative;
        /*margin-top: 40%;*/
    }


    /*color:  #00796b;
	margin: 20px 0 100px 10px;


	text-align: left;
margin-top: 50px;
font-size: 16px;
line-height: 22px;
background-color: #f5fffa;
  color: #555;
 padding: 10px 500px 10px 500px;

}*/

}



/* collapsable page */

/* Style the button that is used to open and close the collapsible content */

.collapsible {
    background-color: #f5fffa;
    color: #00796b;
    cursor: pointer;
    padding: 18px 5px;
    margin-bottom: 5px;
    width: 100%;
    border: none;
    border-bottom: 1px dashed #00796b;
    text-align: center;
    outline: none;
    font-size: 18px;
    font-weight: bold;

}

.collapsible a {
    text-align: center;
    outline: none;
}

.collapsible h5 {
    font-size: 10px;
    font-style: italic;
    color: black;
}

.collapsible h6 {

    color: #00796b;
}

.collapsible h6:hover {
    color: white;
    padding: 3rem;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;

}

/*.active, .collapsible:visited {
		background-color: #99C9C3;
		color: #333;
	}*/

.active,
.collapsible:hover {
    margin: auto;

    color: hotpink;



}

/*
	.active, .collapsible:focus {
		background-color: yellow;
		color: white;

	}*/


.active,
.collapsible:active {

    color: #92baac;

}




/*.collapsible:active{

	color: #33ac9e;
	}*/



/*
	.collapsible:focus {
		background-color: 	#FFD2E8;
		FFD2E8;
		color: #333;

	}
	*/



/*.collapsible: {
		background-color:red;


	}*/





.active,
.nav:hover {
    background-color: white;
}

section {
    text-align: center;
}


.toggle p {
    padding: 10px 18px;
    display: none;
    overflow: hidden;
    background-color: #F5FFFA;

    /* border: 2px solid;*/
    /* border-image-source: linear-gradient(45deg, rgb(0,121,107), rgb(0,121,107));
  border-image-slice: 1; */
    color: #333;

    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #00796b;


    /*blah*/
}

.toggle #intro {
    display: none;
    overflow: hidden;
}

.toggle p img {
    max-width: 100%;
    height: auto;
    /* margin: 0 auto; */
    display: block;
    padding: 2px;
}

.toggle a {

    text-decoration: none;
}

.sidebar {
    padding: 5px 24px 0 24px;
}


/*
	.content3 p{
	  padding: 0 18px;
	  display: none;
	  overflow: hidden;
	  background-color: red;
	}
	.img-banner {
		  width: 100%;



	}

	Style the collapsible content. Note: hidden by default
	.content {
	  padding: 0 18px;
	  display: none;
	  overflow: hidden;
	  background-color: #dddd0d;
	}
		*/


/* ---- form styling -----*/
form {
    display: inline;
    background-color: red;
    /* padding-left: 20px;
	margin-left: 30px; */
}

/*---- form styling ---*/

.tbox,
.btn {
    border: none;
    outline: none;

}


.tbox {
    padding: 20px 10px 0px 10px;
    transition: none;
    border: 1px solid #00796b;
    border-radius: 0.8px 3px;

}

::placeholder {
    color: #00796b;
}

.email-box {

    height: 70px;
    display: flex;
    justify-content: center;
    margin: 0px 24px;
    padding-top: 20px;
    padding-bottom: 10px;

}


.email-box i {

    display: none;


}




.email-box:hover>.tbox,
.tbox:focus {
    width: 260px;
    padding: 0 10px;



}

.btn2 {
    /* background: #2f3542; */
    /* background: #42413c; */
    /* color: 	#5c8c55; */
    background-color: #00796b;
    color: pink;
    font-weight: bold;
    padding: 10px 10px 30px 10px;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 100px;
    margin-left: 6px;
    border-radius: 2px;

}

.btn:hover {
    color: white;

}


a:active {
    color: blue;
}


#error {
    margin-top: 30px;
    padding: 13px 20px;
    border-radius: 5px;
    background-color: #E34848;
    color: #fff;
    opacity: 0;
    transition: 0.1s;
}

#error.show {
    opacity: 1;
}