/* *,
*::before,
*::after{
	margin: 0;
	padding:0;
	box-sizing:border-box;


} */





.sub ul {
    list-style-type: none;
    background-color: #f5fffa;
    font-weight: bold;

    padding: 5px;
    color: #00796b;
    padding: 5px 24px;
    font-size: 12px;
}

.sub ul li {
    /*background-color: #AntiqueWhite; */
    color: black;
    padding: 5px;
    font-weight: normal;
    font-size: 16px;
}

.title4 h1 {

    /*	background-color: rgba(0,121,107,0.6);*/
    /*	background-color: rgba(255,121,107,0.2);*/
    font-weight: bold;
    color: #00796b;
    /*text-shadow: -1px 0 #00796b, 0 1px #00796b, 1px 0 #00796b, 0 -1px #00796b;*/
    font-weight: bold;
    /*	text-shadow: 1px 1px #333;*/
    margin-bottom: 0px;
    margin-top: 10px;
    text-align: center;
    font-size: 22px;


}

.title4 h1:hover {

    color: hotpink;
}

#fail {
    width: 100%;
    max-width: 98rem;
    padding: 20px 5px 10px 25px;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .2);
    background-color: #00796b;
    margin: 5px auto;
}

#fail a {



    color: #f4fffa;


}

#fail a:hover {
    color: hotpink;

}

#fail p {

    color: pink;
    margin-top: 20px;
}

.yellowSub {

    color: pink;
}

.yellow2 {
    text-align: center;
}

#fail h1 {
    text-align: center;
    color: #f5fffa;
}

#fail h1:hover {
    color: hotpink;

}


/*theresa changes */



/*p{

	font-size: 16px;*/
/*font-family: Verdana, Geneva, sans-serif;*/
/*padding-top: :10.2rem;*/
/*	font-family: "Baloo", sans-serif;*/
/*	color:#333;*/

/**	20px 5px 0 5px;
}**/



.blog-post {
    font-size: 10px;
    /* margin: 20px auto; */
    display: inline-block;
    width: 80%;
    /* max-width: 88rem; */
    /* padding: 5rem; */
    background-color: red;
    box-shadow: 0 1.4rem 8rem rgba(252, 153, 193, .2);
    /*box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);*/
    display: flex;
    flex-flow: row;


    /* align-items: center; */
    border-radius: .8rem;

}

.blog-post2 {
    margin: 5px auto;
    width: 100%;
    max-width: 78rem;
    padding: 5rem;
    background-color: white;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    border-radius: .2rem;
    border-left: solid 5px orange;
}

/*
.blog-post:hover{
	border-left: solid 5px orange;
}

.blog-post:selected{
	border-left: none;
}
*/
.stretch4 {



    display: block;
    width: 80%;
    /*height: 100%;*/
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.stretchtemple {

    display: block;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.stretchtemple2 {

    display: block;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.side {

    float: left;
    width: 50%;
    padding: 1px;
    margin-bottom: 20px;
}

.side img {

    height: 400px;
}

.stretch5 {

    margin-top: 20px;
    margin-bottom: 20px;
}

.blog-post_img {

    min-width: 34rem;
    max-width: 34rem;
    height: 30rem;
    transform: translateX(-3rem);
    position: relative;


}


.blog-post_img img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;

}

.title {
    grid-area: title;
    text-align: center;

    padding-bottom: 0px;
    /* background-image: none; */


    /* background-image: url("img/dublin-busgrayscale.jpg"); */

    /*	background-image: url("img/vadim-burca--DupFuMU1Fw-unsplash.jpg");*/
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3px;
    /*	text-shadow: 1px 1px #333;*/
}

.title h1 {
    background-color: rgba(0, 121, 107, 0.6);
    color: white;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.title a h1 {


    /*	background-color: rgba(255,121,107,0.2);*/
    font-weight: bold;
    color: floralwhite;

    text-shadow: none;
    font-weight: normal;
    /*	text-shadow: 1px 1px #333;*/
    margin-bottom: 0px;
    margin-top: 20px;
    font-size: 26px;
    text-align: center;
    text-decoration: none;


}

.title p {
    background-color: rgba(0, 121, 107, 0.6);
    margin-left: auto;
    margin-right: auto;
}

.title a h1 :hover {
    color: hotpink;
}

h2 {

    color: #555;
    text-align: center;
    background-color: #f5fffa;
    padding: 15px;
}

.blog-post_img::before {

    content: "";
    width: 100px;
    height: 100;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(79, 172, 254, .8) rgba(0, 242, 254, .8));
    box-shadow: .5rem, .5rem 3rem 1px rgba(0, 0, 0, .05);
    border-radius: .8rem;
}

.blog-post_img2 {

    min-width: 34rem;
    max-width: 34rem;
    height: 20rem;
    transform: translateX(-3rem);
    position: relative;
    /*border-bottom: 1px solid blue;*/

}

.blog-post_img3 {

    min-width: 34rem;
    max-width: 54rem;
    height: 30rem;
    transform: translateX(-1rem);
    position: relative;


}

.footer {
    margin: 20px auto;
    width: 100%;
    max-width: 98rem;
    padding: 8px;
    text-align: center;

    background-color: #555;

}


.footer a {
    text-decoration: none;
    color: hotpink;
    margin-top: 5px;
    font-size: 14px;
    margin-right: auto;
}

.footer p {
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #f5fffa;

}




/*
#lineimage {

	

	 display:inline-block;
	padding: 0.0rem 0.0rem;
	color: white;
	font-weight: bold;

background-image: linear-gradient(to right, #00796b 0%, #4facfe 100%);
	border-radius: .8rem;
	text-decoration: none;
	margin-top: 3px; 	
}

#lineimage:hover {

	

	 
border-left: 4px solid hotpink;
}*/
.blog-post_date span {

    display: block;
    font-size: 1.4rem;
    /*color: rgba(0,0,0,.5);*/
    font-weight: 600;
    margin: 1.4rem 0;
    color: #333;
}

.blog-post_info h2 {
    color: #00796b;
    font-size: 20px;
    text-decoration: none;
}

.blog-post_info2 h2 {
    color: grey;
    font-size: 20px;
    text-decoration: none;
}

#blue {

    background-color: #00796b;
    padding: 50px;
}

#blue p {
    background-color: #f5fffa;

    padding: 50px 50px 50px 50px;
    color: white;
}


.blog-post_title {

    font-size: 2.5rem;
    margin: 1.5rem 0 rem;
    text-transform: uppercase;
    color: #4facfe;
    /*font-family:Verdana, Geneva, sans-serif;*/

}

h3 {
    font-size: 2.5rem;
    margin: 1.5rem 0 rem;
    text-transform: uppercase;
    color: #4facfe;

}

.silly {
    width: 350px;

}

p .blog-post_text {
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 5px;
    /* display: block; */
    /*font-size: 14px;*/

    /*color: rgba(0,0,0,.7);*/

}

.blog-post_text2 {
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 5px;
    font-size: 14px;
    color: black;
    /* border-bottom: 1px solid blue; */
    /*color: rgba(0,0,0,.7);*/

}

#myBtn {
    /* Fixed/sticky position */
    /*display:inline-block;*/
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: white;
    font-weight: bold;
    /*	backround-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);*/
    background-image: linear-gradient(to right, #00796b 0%, #4facfe 100%);
    border-radius: .8rem;
    text-decoration: none;
    margin-top: 3px;
    border-color: #00796b;
    overflow: none;
}

#myBtn:hover {

    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    border: solid 1.5px hotpink;
}

#myBtn2 {
    background-color: #00796b;
    color: #f5fffa;
    margin-top: 20px;
    font-size: 20px;

}

#myBtn2:hover {
    background-color: #f5fffa;
    color: #4facfe;
}

#myBtn5 {

    background-color: #00796b;
    color: #f5fffa;
    margin-top: 20px;
}

#myBtn6 {}

#myBtn6:hover {
    background-color: #f5fffa;
    color: #4facfe;
}

a h2:hover {

    color: hotpink;
}

#newbutton {
    /* Fixed/sticky position */
    display: inline-block;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: white;
    font-weight: bold;
    /*	backround-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);*/
    background-image: linear-gradient(to right, #00796b 0%, #4facfe 100%);
    border-radius: .8rem;
    text-decoration: none;

    border-color: #00796b;

}

#newbutton2 {
    /* Fixed/sticky position */
    display: inline-block;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: white;
    font-weight: bold;
    backround-image: linear-gradient(to right, #808080 0%, #00796b 0%);
    background-image: linear-gradient(to right, #00796b 0%, #808080 80%);
    border-radius: .8rem;
    text-decoration: none;

    border-color: #00796b;

}

#myBtn4 {

    display: inline-block;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: white;
    font-weight: bold;
    /*	backround-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);*/
    background-image: linear-gradient(to right, #00796b 0%, #4facfe 100%);
    border-radius: .8rem;
    text-decoration: none;
    margin-top: 3px;
    border-color: #00796b;
}

#myBtn4:hover {

    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    border: solid 1.5px hotpink;
}


#thingy:hover {

    border-left: solid 5px hotpink;
}


@media screen and (max-width: 1068px) {

    .blog-post {

        /* max-width: 80rem; */

    }

    .title {

        background-image: ("img/orbitals");

    }

    .blog-post_img {

        min-width: 30rem;
        max-width: 30rem;
        display: block;
    }

    .blog-post_img2 {

        min-width: 80rem;

        display: block;
    }
}

@media screen and (max-width: 868px) {

    .blog-post {

        /* max-width: 100%; */

    }


}

a {
    /*color:hotpink;*/
    color: #842d2f;
}

a :hover {
    /*color:hotpink;*/
    color: hotpink;
}

@media screen and (max-width: 768px) {
    body {

        /*	display:flex;
			 margin: 0;*/
    }

    .blog-post {

        padding: 2.5rem;
        flex-direction: column;

    }

    .blog-post_img {

        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -1rem);
        /*margin-top:30px;*/

    }

    .stretchtemple {

        display: block;
        width: 100%;
        height: 100%;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    .stretchtemple2 {

        display: block;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .silly {
        width: 250px;


    }

    #myBtn5 {
        display: none;
    }

    .side {

        float: none;
        width: 100%;
        padding: 0px;
        margin-bottom: 5px;
    }

    .side img {

        max-height: 250px;
    }


}


#more {

    display: none;




}

#more4 {

    display: none;



}














.sidebarSub {
    padding: 5px 24px 0 24px;
}


/* collapsable page */

/* Style the button that is used to open and close the collapsible content */

.collapsibleSub {
    background-color: #f5fffa;
    color: #555;
    cursor: pointer;
    padding: 18px 5px;
    margin-bottom: 5px;
    width: 100%;
    border: none;
    border-bottom: 1px dashed #00796b;
    text-align: center;
    outline: none;
    font-size: 18px;
    font-weight: bold;
}

.collapsibleSub2 {
    background-color: #f5fffa;
    color: #555;
    cursor: pointer;
    padding: 18px 5px;
    margin-bottom: 5px;
    width: 100%;
    border: none;
    border-bottom: 1px dashed #00796b;
    text-align: center;
    outline: none;
    font-size: 18px;
    font-weight: bold;
}

.collapsible a {
    text-align: center;
    outline: none;
}

.collapsible h5 {
    font-size: 10px;
    font-style: italic;
    color: black;
}

/*.active, .collapsible:visited {
		background-color: #99C9C3;
		color: #333;
	}*/

.active,
.collapsible:hover {
    background-color: #00796b;
    color: white;

}

/*
	.active, .collapsible:focus {
		background-color: yellow;
		color: white;
	
	}*/



.active,
.collapsible:active {
    background-color: #00796b;
    color: #00796b;
}




/*.collapsible:active{
	
	color: #33ac9e;
	}*/



/*
	.collapsible:focus {
		background-color: 	#FFD2E8;
		FFD2E8;
		color: #333;
	
	}
	*/



/*.collapsible: {
		background-color:red;
		
	
	}*/





.active,
.nav:hover {
    background-color: white;
}


.toggleSub p {
    padding: 10px 18px;
    display: none;
    overflow: hidden;
    background-color: #fdfcfa;

    /* border: 2px solid;*/
    /* border-image-source: linear-gradient(45deg, rgb(0,121,107), rgb(0,121,107));  
  border-image-slice: 1; */
    color: #333;

    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #00796b;


    /*blah*/
}

.toggleSub #intro {
    display: none;
    overflow: hidden;
}

.toggleSub p img {
    max-width: 100%;
    /*height: auto;*/
    margin: 20px auto;
    /*display: block;*/
    padding: 1px;
}

.toggleSub a {

    text-decoration: none;
}

.sidebarSub {
    padding: 5px 24px 0 24px;
}


.expandimage::after {
    position: center;
    margin-right: 50px;
}