*{

margin: 0;
padding: 0;	
	font-family:"montserrat", sans-serif; 
	

}
	
	body {
		/*background-color: yellow;*/
		
	}
	/* contact page */

	.wrapper {
		width: 100%;
	}
	h1 {
		color: #00796b;
		padding: 3rem;
		font-size: 28px;
		text-shadow: 0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 0.5px black;
		font-family: "Times New Roman", Times, serif;
		font-weight: normal;
		
	}
	.fa_custom {
		color: #00796b;
	}
	h2 {
		color: #63595C;
		font-size: 18px;
		font-weight: bold;
		padding-top: 2rem;
		
	}
	h3 {
		text-align: left;
		color: #63595C;
		font-weight: normal;
		font-size: 18px;
		padding-top: 2rem;
	}
	h4 {
		color: #63595C;
		text-decoration: none;
		/* color: #8ca0ff */
	}
	.collapsible h5 {
		font-size: 10px;
		font-style: italic;
		color: black;
	}
	
	h6{
		color: #63595C;
		padding: 3rem;
		font-size: 28px;
		font-weight: normal;
		text-decoration: none;
		text-shadow: 0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 0.5px black;
		
	}
	
	
	/* Dropdown Button */

	/*
	.dropbtn {
	  background-color: #3498DB;
	  color: white;
	  padding: 16px;
	  font-size: 16px;
	  border: none;
	  cursor: pointer;
	}*/

	/* Text inside the dropdown */

	/*

	.dropdown-content a {
	  color: black;
	  padding: 12px 16px;
	 text-decoration: none; 
	  display: block;
	}*/

	/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

	/*
	.show {
		display:block;
		}
	*/

	ul {
		list-style-type: none;
		background-color: #fcf6f5;
		font-weight: bold;
		padding: 5px;
		color: #00796b;
		padding: 5px 24px;
	}
	ul li {
		/*background-color: #AntiqueWhite; */
		color: #63595C;
		padding: 5px;
		font-weight: normal;
	}
	/*.top {}
	img.ri {
		position: absolute;
		max-width: 80%;
		top: 10%;
		left: 10%;
		border-radius: 3px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.9);
	}
	img.ri:empty {
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}*/
	}
	.content2 h2 {
		color: hotpink;
	}
	a {
		color: #00796b;
	}
	/*margin: auto 0 auto 6opx;
		width: 1000px;
		background-color: red;*/

	/*-- GRID HTML --> */

	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 0px;
		background-color: White;
		grid-template-areas: "title title" "header header"/*-- menu titles --> */
		"sidebar sidebar"/*-- intro --> */
		"content2 content2"/*-- picture --> */
		"other other" "footer footer"
	}
	/*-- responsive menu --> */

	.toggle1 {
		display: block;
		padding: 5px 20px;
		background-color: #00796b;
		background-image: linear-gradient(white 2px, transparent 2px), linear-gradient(90deg, white 2px, transparent 2px), linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px);
		background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
		background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
	}
	.toggle1 i {
		background-color: white;
		padding: 5px;
	}
	nav ul {
		width: 100%;
		display: none;
	}
	nav ul li {
		display: block;
		text-align: center;
		background: #00796b;
		position: relative;
		padding: 10px;
		margin: 5px;
	}
	nav ul li a {
		color: white;
		padding: 15px;
		text-decoration: none;
	}
	nav ul li a:hover {
		color: hotpink;
	}
	/*
		nav ul li a:active{
			color: yellow;
		}*/

	nav .current {
		color: #00796b;
		background-color: #fcf6f5;
	}
	.active {
		display: block;
		padding: 10px 0 10px 0;
		font-size: 18px;
		line-height: 40px;
	}
	/*--nav ul li ul{
			display: none;
			position: relative;
			text-align: none;
			
		}
		
		nav ul li:hover ul{
			display: block;
		
			
		}*/

	
	.videotitle {
		margin: 10px;
	}
	.title {
		grid-area: title;
		text-align: center;
	/*	background-color: #fcf6f5;*/
		
		
	
		/*	background-image: url("img/vadim-burca--DupFuMU1Fw-unsplash.jpg");*/
		background-image: url("img/dimitry-anikin-hH43OSl5toU-unsplash.jpg");
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.title1 {
		
		text-align: center;
		background-color: #fcf6f5;
		
		
	
		/*	background-image: url("img/vadim-burca--DupFuMU1Fw-unsplash.jpg");*/
		background-image: url("img/dublin-busgrayscale.jpg");
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		
		
	}
	
	
	.imagetext h2{
	/*	background-color: yellow;*/
		 position: absolute;
 /* top: 50%;
  left: 50%;*/
  transform: translate(-50%, -50%);
	}
		
		
	#intro {
		grid-area: sidebar;
		font-style: italic;
		padding-top: 20px;
	}
	
	#nav {
		background-color: #00796b;
		border-style: solid;
		border-width: thin;
		border-color: #00796b;
		width: 100%;
		height: 60px;
		display: flex;
		flex-wrap: wrap;
		z-index: 1000px;
	}
	.btn-toggle-nav {
		width: 60px;
		height: 100%;
		/*background-image: url("img/menu.png");*/
		background-repeat: no-repeat;
		background-size: 40%;
		background-position: center;
		cursor: pointer;
	}
	.header {
		grid-area: header;
		text-align: center;
		background-color: #c9c3c2;
		text-decoration: italic;
	}
	.header a {
		color: white;
		font-weight: bold;
		font-size: 20px;
		padding: 20px;
		text-decoration: none;
	}
	.header a:hover {
		color: hotpink;
	}
	
	.sidebar {
		grid-area: sidebar;
		background-color: #fcf6f5;
		color: #63595C;
	}
	
	.sidebar p {
		margin: 20px 5px 0 5px;
	}
	
	.content2 {
		grid-area: content2;
		background-color: #fcf6f5;
		/*padding: 3rem;
			display: grid;
		grid-template-columns: 1fr 1fr 1fr;  */
	}
	.content2 img {
		/*  grid-area: content2;*/
		max-width: 100%;
		height: auto;
		margin: 0 auto;
		display: block;
	}
	.stretch {
		display:block;
		width: 90%;
		/*height: 100%;*/
		margin-left: auto;
		margin-right: auto;
	}
	a {
		color: hotpink;
	}
	.other {
		grid-area: other;
		background-color: #fcf6f5;
	}
	.footer {
		grid-area: footer;
		text-align: center;
		color: #fcf6f5;
		background-color: #63595C;
	}
	.grid div:nth-child(even) {
		/*	background-color: lightblue; */
	}
	.grid div:nth-child(odd) {
		/*	background-color: #51d691; */
	}
	
	
	
	@media screen and (min-width: 736px) {
		.grid {
			display: grid;
			grid-template-columns: 1fr 500px 500px 1fr;
			grid-template-rows: 1fr;
			grid-gap: 10px;
			/*margin: 0 auto 0 60px; */
			grid-template-areas: ". title title ." ". header header ." ". sidebar sidebar ." ". content2 content2 ." ". other other ." ". footer footer .";
		}
		.sidebar {
			/*	display: none;*/
		}
		.toggle1 {
			width: 100%;
			background-color: red;
			text-align: right;
			/*   box-sizing: border-box;	*/
			font-size: 30px;
			display: none;
		}
		nav ul {
			width: 100%;
			display: block;
			text-align: center;
		}
		nav ul li {
			display: inline;
			background-color: #00796b;
		}
		.videobus {
			display: none;
		}
		.title {
			grid-area: title;
			text-align: center;
			background-color: #fcf6f5;
			padding-bottom: 0px;
			background-image:none;
			
			
			
			
		}
	}
	
	
	
	/* collapsable page */

	/* Style the button that is used to open and close the collapsible content */

	.collapsible {
		background-color: #fcf6f5;
		color: #63595C;
		cursor: pointer;
		padding: 18px 5px;
		width: 100%;
		border: none;
		border-bottom: 1px dashed #00796b;
		text-align: center;
		outline: none;
		font-size: 18px;
		font-weight: bold;
	}
	.collapsible a {
		text-align: center;
		outline: none;
	}
	.active, .collapsible:hover {
		background-color: #00796b;
		color: #fcf6f5;
	}
	.active, .nav:hover {
		background-color: white;
	}
	.toggle p {
		padding: 10px 18px;
		display: none;
		overflow: hidden;
		background-color: white;
		color: #333;
	}
	.toggle #intro {
		display: none;
		overflow: hidden;
	}
	.toggle p img {
		max-width: 80%;
		height: auto;
		margin: 0 auto;
		display: block;
		padding: 2px;
	}
	.sidebar {
		padding: 5px 24px 0 24px;
	}
	/* 
	.content3 p{
	  padding: 0 18px;
	  display: none;
	  overflow: hidden;
	  background-color: red;
	}
	.img-banner {
		  width: 100%;
		
		  
		
	}

	Style the collapsible content. Note: hidden by default 
	.content {
	  padding: 0 18px;
	  display: none;
	  overflow: hidden;
	  background-color: #dddd0d;
	}
		*/
		
		
		/* ---- form styling -----*/
		
		/*---- form styling ---*/

.tbox, .btn{
	border: none;
	outline: none;
}

.tbox {
	padding: 0 5px;
	transition: none;
	
}

.email-box {

height: 40px;
display: flex;
justify-content: center;
	margin: 0px 24px;
	padding-top: 20px;
	padding-bottom: 5px;
}


.email-box i{
	
	display: none;
	
	
}


.email-box:hover >  .tbox,.tbox:focus{
	width: 260px;
	padding: 0 10px;
	
	
	}

.btn{
	background: #2f3542;
	color: #00796b;
	font-weight: bold;
	padding: 0 10px;
	text-transform: uppercase;
	cursor: pointer;
	
	
}

/* subscribe page */

#littlebox 
{
	
margin: 0% 10%;

}


#littlebox p{

	/*color:  #00796b;
	margin: 20px 0 100px 10px;*/

	
	text-align: left;
margin-top: 10px;
font-size: 16px;
line-height: 22px;
background-color: #fcf6f5;
  color: #63595C;
 padding: 10px 24px 10px 24px;
 
}

