*{

margin: 0;
padding: 0;	
/*	
font-family:"montserrat", sans-serif; */

}

body, html {
	
	height: 100%;
	

	
	
	
	
}

.thankyou{
	
	background-image: url("img/vadim-burca--DupFuMU1Fw-unsplash.jpg"); 
	height: 100%;
		background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.thankyou p {
	font-size: 20px;
	padding: 20px 0 0 0;
	color: white;
	text-align: center;
	
}

.img-mycity {
	/*width: 200px;
	height: 2067px; 
	background-color: red;

	padding: 20px 20px;
	height: 100%;
	width: 200px;
	
	
	margin: 0 auto;
	
	*/
	
}


#littlebox p{
	background-color: #00796b; 
	color: white;
	padding: 10px;
width: 80%;
	
}

h1 {
	color: #00796b;
	padding: 10px 5px;
	text-align: center;
}

h6 {
	padding: 10px;
	color: white;

}


.container {
	background-color: #fcf6f5;
	/*background-image: url("img/gabriel-ramos-NCP6XF9XmvA-unsplash.small.jpg"); 
		
		
		
		background-position: center;
    background-repeat: no-repeat;
	
	max-width: 100%;
	height: 100%;
	
	
	
	
   
/*		text-align: center;
	color:#00796b; 
	
	height: 100%;
		background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	text-align: center;
	color:#00796b; 
	
	margin: 0 auto;
	width: 1000px;
	background-image: url("img/gabriel-ramos-NCP6XF9XmvA-unsplash.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; */
	
	/*
	background-image:url("img/gabriel-ramos-NCP6XF9XmvA-unsplash.jpg");
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;*/
	 
/*		 height: 900px;
 width: 100%;*/
}

 /*
 height: auto;
	padding: 200px 40px; 
	
*/



.container p {
	max-width: 600px;
	margin: 40px auto;
	font-size: 15px;
	font-weight: 300;
	text-shadow: 2px #ff0000;
	color: black;
	text-align: center;
}

.email-box {

height: 40px;
display: flex;
justify-content: center;
	padding-top: 30px;
}

.email-box i{
	
	background:#2f3542;
	line-height: 40px;
	width: 10px;
	color: #00796b;
	
	
}



.tbox, .btn{
	border: none;
	outline: none;
}

.tbox {
	width: 0px;
	transition: 0.6s;
	
}

.email-box:hover >  .tbox,.tbox:focus{
	width: 260px;
	padding: 0 10px;
	
	}

.btn{
	background: #2f3542;
	color: #00796b;
	font-weight: bold;
	padding: 0 10px;
	text-transform: uppercase;
	cursor: pointer;
	
	
}



@media screen and (min-width : 736px)
{
	.body{
	/*	width: 1000px;*/
	}
	.container{
		background-image: url("img/gabriel-ramos-NCP6XF9XmvA-unsplash.jpg"); 
		
		/*width: 80%;
		margin: 0 auto; */
	/*padding: 20px 20px;
	height: 600px;
	width: 80%;
	margin: 0 auto;
	background-color: orange; */
	
	height: 100%;
		background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	text-align: center;
	color:#00796b; 
	margin: 0 100px;
	
	}
	.thankyou{
	
	color: red;
	}
	
	
	
}
